@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Indie+Flower&family=Mochiy+Pop+P+One&family=Source+Code+Pro&family=Ubuntu+Condensed&display=swap');
@font-face {
    font-family: 'Fjalla One', sans-serif;
    src: 'https://fonts.googleapis.com/css2?family=Fjalla+One';

    font-family: 'Indie Flower', sans-serif;
    src:'https://fonts.googleapis.com/css2?family=Indie+Flower';

    font-family: 'Mochiy Pop P One', sans-serif;
    src:'https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family';

    font-family: 'Ubuntu Condensed', sans-serif;
    src:'https://fonts.googleapis.com/css2?family=Ubuntu+Condensed';

    
    font-family: 'Source Code Pro', sans-serif;
    src: 'https://fonts.googleapis.com/css2?family=Source+Code+Pro';
}


/* header */
.header{
    background-color: #202020;
    display: inline-flex;
    height: 140px;
    line-height: 140px;
    justify-content: center;
}
h1{
    font-family:'Fjalla One';
    display:inline-flex;
    justify-content: center;
}

h1,h2,h3,h4{
    font-family:'Fjalla One';
    color: white;
}

.logo{
    width: 130px;
}

.equipe,.contenu,.voirAussi{
    background-color: #3d3d3d;    
}
footer{
    background-color: #202020;
}
.contenu p{
    color:#1AE279;
    font-family:'Source Code Pro';
}

/* Lecture sur ordinateur */
@media screen and (width>=880px){
    .contenu p{
        font-size: 25px;
    }
    .menuDeroulant, .deroulant, .sous, .sous li{
        display: none;
    }        
    .responsiveVoirAussi{
        display: none;
    }
}

/* Adaptation sur smartphone */
@media screen and (width<880px){

    /* Diminution de la taille de la police */
    .contenu p {
        font-size: 15px;
    }

    /* On n'affiche plus la colonne de gauche */
    .voirAussi{
        display: none;
    }

    /* menu déroulant */
    .menuDeroulant ul{
        list-style-type: none;
    }

    .menuDeroulant ul li{
        float: left;
        width: 200px;
        text-align: center;
        position: relative;
    }

    .menuDeroulant ul::after{
        content: "";
        display: table;
        clear: both;
    }

    .menuDeroulant a{
        display: block;
        text-decoration: none;
        color: black;
        border-bottom: 2px solid transparent;
        padding: 10px 0px;
    }

    .menuDeroulant a:hover{
        color: orange;
        border-bottom: 2px solid gold;
    }

    .sous{
        display: none;
        background-color: white;
        width: 250px;
    }
    .menuDeroulant > ul li:hover .sous{
        display: block;
    }
    .sous li{
        float: none;
        text-align: left;
    }
    .sous a{
        padding: 10px;
        border-bottom: none;
    }
    .sous a:hover{
        border-bottom: none;
    }
    .deroulant > a::after{
        content:" ▼";
        font-size: 12px;
    }
    /* end menu déroulant */

}